---
# map Ansible arch -> APT arch used by 1Password repo URL
- name: Map architecture for 1Password APT repo
  ansible.builtin.set_fact:
    _1password_apt_arch: >-
      {{ {'x86_64':'amd64','aarch64':'arm64'}[ansible_architecture] | default('amd64') }}

- name: Download 1Password signing key (ASCII)
  become: true
  ansible.builtin.get_url:
    url: https://downloads.1password.com/linux/keys/1password.asc
    dest: /usr/share/keyrings/1password.asc
    mode: u=rw,g=r,o=r
    force: true

- name: Dearmor 1Password signing key for APT
  become: true
  ansible.builtin.command:
    cmd: >
      gpg --dearmor
      --yes
      --output /usr/share/keyrings/1password-archive-keyring.gpg
      /usr/share/keyrings/1password.asc
  args:
    creates: /usr/share/keyrings/1password-archive-keyring.gpg

- name: Add 1Password APT repository
  register: _1password_repo
  become: true
  ansible.builtin.apt_repository:
    repo: >-
      deb [arch={{ _1password_apt_arch }}
      signed-by=/usr/share/keyrings/1password-archive-keyring.gpg]
      https://downloads.1password.com/linux/debian/{{ _1password_apt_arch }} stable main
    filename: 1password

- name: Apt update cache
  when: _1password_repo.changed
  become: true
  ansible.builtin.apt:
    update_cache: true

- name: Install 1Password
  when: ansible_architecture in ['x86_64', 'amd64']
  become: true
  ansible.builtin.apt:
    name:
      - 1password

- name: Install 1Password cli
  become: true
  ansible.builtin.apt:
    name:
      - 1password-cli
